<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Riverpods.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StateConcurrency.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>StateKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>StateKitAnalytics.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>StateKitAtoms.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>StateKitCache.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>StateKitCombine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>StateKitCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>StateKitDevTools.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>StateKitFeatureFlags.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>StateKitMacros.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>StateKitPersistence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>StateKitSupport.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>StateKitTesting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>StateKitUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>state-kit-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>Riverpods</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RiverpodsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateConcurrency</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateConcurrencyTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitAnalytics</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitAnalyticsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitAtoms</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitAtomsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitCache</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitCacheTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitCombine</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitCoreTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitDevTools</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitFeatureFlags</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitFeatureFlagsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitMacros</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitMacrosTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitPersistence</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitSupport</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitSupportTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitTesting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StateKitUITests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
